.wrapper {
  overflow-x: hidden;
  direction: rtl;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  background-color: #fff;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 51vw;
  background-color: #fff;
  z-index: 3;
  border-top: 1px solid black;
  box-shadow: 0px 2px 7px 2px black;
}
.contact-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30vw;
  padding-bottom: 30vw;
  background-image: url(./img/background/3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
h1{
  color: #fff;
  text-shadow: 4px 4px black;
}
.hiden-img{
  position: fixed;
  top: 11vw;
  width: 100vw;
  height: 40vw;
  background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0.1)), url(img/data_img/hiden.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 0;
}
.party {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.party > h3{
  font-weight: bold;
  font-size: 6.5vw;
  color: rgb(247, 162, 255);
  text-shadow: 1px 1px black;
  padding: 0;
  margin: 0;
}
.party > p{
  font-size: 2vw;
  padding: 5px;
  margin: 5px;
}

.txt {
  font-weight: bold;
  font-size: 3vw;
  color: rgb(218, 255, 232);
  cursor: pointer;
  padding: 5px;
  box-shadow: 0px 0px 3px 0px black;
  border-radius: 5px;
  background-color: rgb(0, 255, 76);
}